*, *::before, *::after { box-sizing: border-box; }

:root {
    /* Settings */
    --bg : hsl(210, 46%, 95%);
    --ff : "Manrope";
    --fsize: 13px;

    /* Color Scheme */
    --darkGreyishBlue: hsl(217, 19%, 35%);
    --darkBlue: hsl(214, 17%, 51%);
    --greyishBlue: hsl(212, 23%, 69%);

}

body {
    background-color: var(--bg);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--ff);
}

.container {
    background-color: white;
    border-radius: 1rem;
    line-height: 1.5;
    color: var(--darkGreyishBlue);
    margin: 1rem;
    overflow: hidden;
}

/* Main Content */
.container .blog-img {
    width: 100%;
    height: clamp(13rem, 15vw, 18rem);
    object-position: 30% 20%;
    display: block;
    object-fit: cover;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}
.content {
    padding: 1rem 2rem 1.5rem 2rem;
}

.heading {
    font-weight: 700;
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.text {
    font-weight: 500;
    font-size: var(--fsize);
    color: var(--darkBlue)
}

/* Share Content */
.profile {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.profile .avatar {
    width:  40px;
    height: 40px;
    border-radius: 50%;
}

.profile-content {
    display: flex;
    flex-direction: column;
    font-size: var(--fsize);
}

.name {
    font-weight: 700;
}

.date {
    font-weight: 500;
    color: var(--greyishBlue)
}

.share { 
    margin-left: auto;
    display: flex;            
    align-items: center;
    gap: .5rem;
 }

.share-btn {
  background: var(--greyishBlue);
  align-items: flex-end;
  border: none;
  padding: 6px;
  border-radius: 50%;
  cursor: pointer;
}

.share-btn:hover, .share-btn.active {
  background: var(--greyishBlue);
  color: var(--bg);
}

.share-icons {
  --scale: 0;
  --translateX: -50%;
  --translateY: 0;
  
  background: var(--);
  position: absolute;
  bottom: calc(100% + 28px);
  left:   50%;
  transform: translate(var(--translateX), var(--translateY)) scale(var(--scale));
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 17px 40px;
  border-radius: 10px;
  box-shadow: 0 5px 20px -5px #0003;
  transform-origin: bottom;
  visibility: hidden;
}

.share-icons.active {
  --scale: 1;
  visibility: visible;
}

.share-icons::after {
  content: '';
  background: var(--darkGreyishBlue);
  width:  20px;
  height: 20px;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -60%) rotate(45deg);
}

.share-icons span {
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: var(--grayish-blue);
  margin-right: 5px;
}

.share-btn { font-size: 16px; }

.share-icons {
    /**
     * variable for transforming `.share-option` box 
     * without repeating all transform value
     */
    --scale: 1;
    --translateX: 0;
    --translateY: 100%;
    
    inset: -20px -28px;
    border-radius: 0;
    padding: 17px 30px;
    z-index: -1;
  }

.share-icons.active { --translateY: 0; }



@media (min-width: 800px) {
  .container {
    display: flex;
    max-width: 40rem;
    max-height: 15rem;
  }

  .container .blog-img {
    height: 15rem; 
    width: 35%;        
    border-radius: 1rem 0 0 1rem;
    object-fit: cover;
  }

  .content{
    display: flex;
    flex-direction: column;
    padding-top: 1.5rem;
    margin-right: 0.5rem;
  }

  .profile{
    margin-top: 1rem;
  }
  
}