*, *::before, *::after { box-sizing: border-box; }

:root {
    /* Settings */
    --bg : hsl(210, 46%, 95%);
    --ff : "Manrope";
    --fsize: 13px;

    /* Color Scheme */
    --darkGreyishBlue: hsl(217, 19%, 35%);
    --darkBlue: hsl(214, 17%, 51%);
    --greyishBlue: hsl(212, 23%, 69%);

}

body {
    background-color: var(--bg);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--ff);
}

.container {
    background-color: white;
    border-radius: 1rem;
    line-height: 1.5;
    color: var(--darkGreyishBlue);
    margin: 1rem;
    position: relative;
    overflow: hidden;
    min-width: 20rem;
}

/* Main Content */
.container .blog-img {
    width: 100%;
    height: clamp(13rem, 15vw, 18rem);
    object-position: 30% 20%;
    display: block;
    object-fit: cover;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}
.content {
    padding: 1rem 2rem 1.5rem 2rem;
}

.heading {
    font-weight: 700;
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.text {
    font-weight: 500;
    font-size: var(--fsize);
    color: var(--darkBlue)
}

/* Share Content */
.profile {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 1.5rem;
}

.profile .avatar {
    width:  40px;
    height: 40px;
    border-radius: 50%;
}

.profile-content {
    display: flex;
    flex-direction: column;
    font-size: var(--fsize);
}

.name {
    font-weight: 700;
}

.date {
    font-weight: 500;
    color: var(--greyishBlue)
}

.share { 
    margin-left: auto;
    display: flex;            
    align-items: center;
    gap: 5rem;
 }

.share-btn {
  background: var(--greyishBlue);
  align-items: flex-end;
  border: none;
  padding: 0.5rem;
  border-radius: 50%;
  cursor: pointer;
}

.share-btn:hover, .share-btn.active {
    z-index: 1;
    background: var(--greyishBlue);
    color: var(--bg);
}

.share-icons {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--darkGreyishBlue);
    padding: 1rem 1rem;
    position: absolute;
    display: flex;
    align-items: center;
    visibility: hidden;
    transform-origin: bottom;
}

.share-icons.active {
    visibility: visible;
}

.share-icons::after {
    background: var(--darkGreyishBlue);
}

.share-icons span {
    text-transform: uppercase;
    letter-spacing: 5px;
    color: var(--greyishBlue);
    margin: 1rem;
}


@media (min-width: 800px) {
  .container {
    display: flex;
    max-width: 40rem;
    max-height: 15rem;
  }

  .container .blog-img {
    height: 15rem; 
    width: 35%;        
    border-radius: 1rem 0 0 1rem;
    object-fit: cover;
  }

  .content{
    display: flex;
    flex-direction: column;
  }

  .profile{
    margin-top: 0.5rem;
  }
  
}