:root {
    /* Settings */
    --bg : hsl(210, 46%, 95%);
    --ff : "Manrope";
    --fsize: 13px;

    /* Color Scheme */
    --darkGreyishBlue: hsl(217, 19%, 35%);
    --darkBlue: hsl(214, 17%, 51%);
    --greyishBlue: hsl(212, 23%, 69%);

}

body {
    background-color: var(--bg);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--ff);
}

.container {
    background-color: white;
    border-radius: 1rem;
    line-height: 1.5;
    color: var(--darkGreyishBlue);
    margin: 1rem
}

/* Main Content */
.container .blog-img {
    width: 100%;
    height: clamp(13rem, 15vw, 18rem);
    object-position: 30% 20%;
    display: block;
    object-fit: cover;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}
.content {
    padding: 2rem 2rem 1.5rem 2rem;
}

.heading {
    font-weight: 700;
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.text {
    font-weight: 500;
    font-size: var(--fsize);
    color: var(--darkBlue)
}

/* Share Content */
.profile {
    display: flex;
    align-items: center;
    margin-top: 2rem;
    gap: 1rem;
}

.profile .avatar {
    border-radius: 50%;
    width: 2.5rem;
}

.profile-content {
    display: flex;
    flex-direction: column;
    font-size: var(--fsize);
}

.profile .name {
    font-weight: 700;
}

.profile .date {
    font-weight: 500;
    color: var(--greyishBlue)
}

.profile .share {
    margin-left: auto;
    padding: 0.5rem 0.5rem;
    border-radius: 50%;
    border: none;
    background: var(--bg);
    cursor: pointer;
}

.profile.active {
    background-color: var(--darkGreyishBlue);
}

@media (min-width: 800px) {
  .container {
    display: flex;
    max-width: 40rem;
    max-height: 15rem;
  }

  .container .blog-img {
    height: 15rem; 
    width: 35%;        
    border-radius: 1rem 0 0 1rem;
    object-fit: cover;
  }

  .content{
    display: flex;
    flex-direction: column;
    padding-top: 1.5rem;
    margin-right: 0.5rem;
  }

  .profile{
    margin-top: 1rem;
  }
  
}