*, *::before, *::after { box-sizing: border-box; }

:root {
    /* Settings */
    --bg : hsl(210, 46%, 95%);
    --ff : "Manrope";
    --fsize: 13px;

    /* Color Scheme */
    --darkGreyishBlue: hsl(217, 19%, 35%);
    --darkBlue: hsl(214, 17%, 51%);
    --greyishBlue: hsl(212, 23%, 69%);

}

body {
    background-color: var(--bg);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--ff);
}

.container {
    background-color: white;
    border-radius: 1rem;
    line-height: 1.5;
    color: var(--darkGreyishBlue);
    margin: 1rem;
    position: relative;
    overflow: hidden;
    min-width: 20rem;
    max-height: 40rem;
    box-shadow: 6px 6px 5px hsla(0, 0%, 0%, 0.03),
              25px 25px 20px hsla(0, 0%, 0%, 0.03),
              100px 100px 80px hsla(0, 0%, 0%, 0.05);
}

/* Main Content */
.container .blog-img {
    width: 100%;
    height: clamp(13rem, 15vw, 18rem);
    object-position: 30% 20%;
    display: block;
    object-fit: cover;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}
.content {
    padding: 1rem 2rem 1.5rem 2rem;
}

.heading {
    font-weight: 700;
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.text {
    font-weight: 500;
    font-size: var(--fsize);
    color: var(--darkBlue)
}

/* Share Content */
.profile {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
    margin-bottom: -0.5rem;
}

.profile .avatar {
    width:  40px;
    height: 40px;
    border-radius: 50%;
}

.profile-content {
    display: flex;
    flex-direction: column;
    font-size: var(--fsize);
}

.name {
    font-weight: 700;
}

.date {
    font-weight: 500;
    color: var(--greyishBlue)
}

.share { 
    margin-left: auto;
    display: flex;            
 }

.share-btn {
  background: var(--greyishBlue);
  border: none;
  padding: 0.5rem;
  border-radius: 50%;
  cursor: pointer;
}

.share-btn:hover, .share-btn.active {
    z-index: 1;
    background: var(--greyishBlue);
    color: var(--bg);
}

.share-icons {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--darkGreyishBlue);
    position: absolute;
    display: flex;
    align-items: center;
    visibility: hidden;
    gap: 1rem;
    padding: 1.3rem;
    transform: translateY(110%); 
    transition:
    transform 260ms cubic-bezier(.2,.9,.3,1),
    visibility 0ms linear 260ms;
}

.share-icons.active {
    visibility: visible;
    transform: translateY(0);
    transition-delay: 0s;
}

.share-icons::after {
    background: var(--darkGreyishBlue);
}

.share-icons span {
    text-transform: uppercase;
    letter-spacing: 5px;
    color: var(--greyishBlue);
    font-size: 13px;
    padding-left: 0.7rem;
}


@media (min-width: 800px) {
  .container {
    display: flex;
    max-width: 40rem;
    max-height: 15rem;
    overflow: visible;
  }

  .container .blog-img {
    height: 15rem; 
    width: 35%;        
    border-radius: 1rem 0 0 1rem;
    object-fit: cover;
  }

  .content{
    display: flex;
    flex-direction: column;
  }

  .profile{
    margin-top: 0.5rem;
  }

  .share-icons {
    left: 485px;
    bottom: 70px;
    width: auto;
    padding: 0.6rem 0.9rem;
    border-radius: 0.6rem;
    opacity: 0;
    pointer-events: none;
    transition: none;
  }

  .share-icons.active {
    opacity: 1;
    visibility: visible;
  }

  .share-icons::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    left: 50%;
    bottom: -5px;                    
    transform: translateX(-50%) rotate(45deg);
    background: var(--darkGreyishBlue);
    z-index: 1;
  }
  
}